html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    - if (pageInfo.env !== 'local')
      link(rel="stylesheet", type="text/css", href=staticHashMap.styles.index)
  body
    div#root
    script(src=pageInfo.staticPath + "externals/flex.js")
    script
      | var pageInfo = !{JSON.stringify(pageInfo)};
    - if (pageInfo.env !== 'local')
      script(src=staticHashMap.javascript.common)
      script(src=staticHashMap.javascript.index)
    - else
      script(src=pageInfo.staticPath + "common.bundle.js")
      script(src=pageInfo.staticPath + "index.bundle.js")
